[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
pdfplumber = "*"
pdf2image = "*"
pydantic = "*"

[dev-packages]
autopep8 = "*"
awscli = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
flake8 = "*"
pydocstyle = "*"
cfn-lint = "*"

[requires]
python_version = "3.8"
